beautifulsoup4==4.13.3
duckduckgo_search==7.5.1
langchain==0.3.20
langchain_community==0.3.19
langchain_google_genai==2.0.11
# google-generativeai==0.8.1
faiss-cpu==1.8.0
protobuf>=3.20,<6
requests==2.32.3
streamlit==1.43.1